<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teachapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeachApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".layouts.LayoutActivity" />
        <activity android:name=".layouts.LayoutLinearActivity" />
        <activity android:name=".layouts.LayoutRelativeActivity" />
        <activity android:name=".intents.IntentActivity" />
        <activity android:name=".intents.EmailIntentActivity" />
        <activity android:name=".intents.SMSIntentActivity" />
        <activity android:name=".intents.PhoneIntentActivity" />
        <activity android:name=".intents.WebIntentActivity" />
        <activity android:name=".components.ComponentActivity" />
        <activity android:name=".providers.ContentProviderActivity" />
        <activity android:name=".conversation.ConversationBoxActivity" />
        <activity android:name=".conversation.ConversationExplanationActivity" />
        <activity android:name=".dialogues.DialogueActivity" />
        <activity android:name=".dynamic.DynamicCodeActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".menus.MenuActivity" />
        <activity android:name=".preferences.SharedPreferencesActivity" />

    </application>

</manifest>